<object width="400" height="27" align="middle" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0">
	<param value="audio-player.swf?audioUrl={{ url }}&autoPlay=true" name="Movie"/>
	<embed width="400" height="27" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="playerMode=embedded" src="audio-player.swf?audioUrl={{ url }}&autoPlay=true" type="application/x-shockwave-flash"/>
	</object>